{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container light-blue-text">

        <div class="row center">
            <div class="col s12">
                <h2>Comment utiliser <br> l'administration du site ?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6">
                <p>
                    La sélection des pages se font simplement par le biais <br> de la barre de navigation.
                    Pour cela il suffit de cliquer sur lune des sections que <br> l'on veut atteindre.
                </p>
            </div>
            <div class="col s12 m6 l6">
                <img src="{{ asset('bundles/corinne/images/Tutoriel/Affiche.png') }}" alt="affichage" class="img-size materialboxed">
            </div>
        </div>

        <div class="row">


        </div>

        <div class="row">


        </div>

        <div class="row">


        </div><div class="row">


        </div>

    </div>

{% endblock %}